<html>
<head>
<title> Delete Record By Customer Id</title>
<style type="text/css">
      .box{
         border-style: solid;
         background-attachment: fixed;
         background-color: #40E0D0;
         height: 800px;
      }
   </style>
</head>
<body>
	<div class="box">

				<h1><center>Data to be Deleted</center> </h1>

		<form action="/delete1" method="POST">
			<table align="center">
				<tr>
					<th>Account Holder Name : </th>
					<td><input type="text" name="uname"/></td>
				</tr>

				<tr>
					<td colspan="2" height="50px" align="center"><button type="submit"> Delete Data </button></td>
				</tr>
			</table>
		</form>

	</div>
		
</body>
</form>
</html>