<html>
<head>
<title> Update Record By Customer</title>
<style type="text/css">
	.box{
			border-style: solid;
			background-attachment: fixed;
			background-color: #40E0D0;
			height: 800px;
		}
</style>
</head>
<body>
	<div class="box">
		<h1><center>Data to be updated</center> </h1>
	
	<center>
		<form action="/update1" method="POST">

	<table>
		<tr>
			<th>Username:</th>
			<td><input type="text" name="uname"/></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input type="password" name="pwd"/></td>
		</tr>
		<tr>
			<td colspan="2" height="50px" align="center"><button type="submit"> Submit</button></td>
		</tr>
		

	</table>
	 
	 

		
</form>
	</center>
	
	</div>
	

</body>
</form>
</html>